main{
    position: relative;
    top: 60px;
}

.content-one{
    width: 100%;
}

.content-portada{
    width: 100%;
    height: 600px;
    background-image: url(../images/business-negro.jpg);
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}
@media screen and (max-width:1500px){
    .content-portada{
        background-size: 2000px;
    }
}



.seccion1{
    height: 100px;
    background-color:#EFEFEF;
}

.seccion1 p{
    padding-left: 40px;
    padding-right: 40px;
    font-family: Dynasty Medium;
    font-size: 20px;
}